.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

.css-1qyrjaz, [data-css-1qyrjaz] {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    border-width: 0;
    bottom: 0px;
    cursor: pointer;
    height: 0px;
    outline: 0;
    position: absolute;
    right: 0px;
    width: 0px;
}
